<?xml version="1.0"?>
<connectionStrings>


  <add name="BaseDatosCle"
  connectionString="Initial Catalog=BCLE_LIM_EXT;Data Source=WIN-FE3KV1LBGHC\SQLEXPRESS;Integrated Security=SSPI;"
  providerName="System.Data.SqlClient"/>
  
  
 
  <add name="BaseDatosCle0"
  connectionString="Initial Catalog=BCLE_LIM_EXT;Data Source=INFANTE1\BECH;User ID=sa;Password=.;"
  providerName="System.Data.SqlClient"/>
  
 
</connectionStrings>

