               <tr class="lineac">
               <td class="headmenutext">
                    <a class="itemlista" href="javascript:SetCliente('${nro_prsna}');">${rutcliente}</a>
                    </td>
               <td class="headmenutext">
                    <a class="itemlista" href="javascript:SetCliente('${nro_prsna}');">${nom_prsna_etcdo}</a>
                    </td>
               <td class="headmenutext">
                    <a class="itemlista" href="javascript:SetCliente('${nro_prsna}');">${gls_pais}</a>
                    </td>
                </tr>