<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<appSettings>
  <add key="ApplicationName" value="GNIQUOTDEMO"/>

  <!--Correos Aprobación Beneficiarios en Desarrollo-->
  <add key="PORT" value="25"/>
  <add key="USER_NAME" value=""/>
  <add key="PASSWORD" value=""/>
  <add key="ADDRESS_FROM" value="banco@banco.cl"/>
  <add key="NAME_FROM" value="Back Office"/>
  <add key="ENABLE_SSL" value="false"/>
  <!--Correos Aprobación en Producción-->
  <add key="SERVIDOR_CORREOS" value="smtp.banco.cl"/>
  
  <!--Mensajes de Aplicacion-->
  <!--Mensajes de Aplicacion-->
  <!--Mensajes de Aplicacion PIC-->
</appSettings>

